<h2 class="text-center p-3 mb-2">create a new Comment</h2>
<%= form_with model: @comment, url: user_post_comments_path,class:"d-flex flex-column align-items-center p-3", method: :post do |form| %>
  <%= form.text_area :text, placeholder: 'Text', class:"input p-3 rounded" %><br><br>
  <%= form.submit 'Create Comment', class:"btn btn-outline-dark"%>
<% end %>