<section>
<%= render "users/user", users:@user%>

<%@post.each_with_index do |pt,index|%>
<%= render 'posts/post', post:pt, index:index %>
<div class="comments">
<%pt.five_recent_comments.each do |comment|%>
<%= render 'posts/comment', comment:comment %>
<%end%>
</div>
<%end%>
<button> Pagination </button>
</section>