<section>
<%= render "users/user", users:@user%>
<div class="margin">
<%@post.each_with_index do |pt,index|%>
<%= render 'posts/post', post:pt, index:index, user:@user.id %>
<div class="border margin">
<%pt.five_recent_comments.each do |comment|%>
<%= render 'posts/comment', comment:comment %>
<%end%>
</div>
<%end%>
</div>
<button> Pagination </button>
</section>