<h2 class="text-center p-3 mb-2">create a new Post</h2>
<%= form_with model: @post, url: user_posts_path, class:"d-flex flex-column align-items-center p-3",method: :post do |form| %>
  <%= form.text_field :title, placeholder: 'Title', class:"input p-3 rounded" %><br><br>
  <%= form.text_area :text, placeholder: 'Text', class:"input p-3 rounded" %><br><br>
  <%= form.submit 'Create post', class:"btn btn-outline-dark"%>
<% end %>